body{
    background-image: url(../images/back2.jpg);
    background-position: center;
    background-size: cover;
}
.list li{
    list-style: none;
}
.parent{
    overflow: hidden;
}  
.list li{
 float: right;
 margin: 50px;
}
#addToCart{
    margin: auto;
}
img{
    border-radius: 40px ;
    padding-top: 20px;
}
h4{
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
.h3{
    color: #555;
}
.mb-3{
    color: #ddd;
}